@import './colors.less';

.aboutUs h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 10px 0 30px 0;
}

.aboutUs .ZECC-W {
  font-size: 3rem;
  @media screen and (max-width: 1080px) {
    font-size: 2rem;
   
  }
}
.aboutUs .copyright {
  @media screen and (max-width: 1080px) {
    font-size: 2rem;
    margin-bottom: -15px;
  }
}

.members h3 {
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
  margin-right: 40px;
  @media screen and (max-width: 1080px) {
    margin-left: 6rem;
    padding: 0px 0 25px 0;
  }

}

.memberProfilePic {
  border: 5px solid @secondary-color;
  border-radius: 50%;
  height: 170px;
  width: 170px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  @media screen and (max-width: 1080px) {
    height: 120px;
    width: 120px;
    margin-left: 30px;
  }
}

.aboutUs h2 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 2rem;
  @media screen and (max-width: 1080px) {
    margin-bottom: 2rem;
  }
}

