.sendHelp {
  .flexCenter();
  flex-direction: column;
}

.help, .sendHelp{
  margin-top: 20px;
  margin-bottom: -30px;
  @media screen and (max-width: 768) {
        margin-top: 10px;
  }
}

.sendHelp {
  margin-bottom: 30px;
}

.chat-bot-avatar-icon {
  width: 28px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background-color: rgb(251, 161, 174);
  margin-right: 0px;
  @media screen  {
    height: 25px;
    padding: 6px;
    margin-top: 5px;
    margin-right: 15px;

  }
}

.user-avatar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background-color: rgb(251, 161, 174);
  margin-left: 15px;
}

#bottie {
  @media screen and (max-width: 1080px) {
    margin-left: 10px;
  }
  
 
  .react-chatbot-kit-chat-container {
    position: relative;
    width: 500px;
    height: 800px;
      @media screen and (max-width: 1080px) {
      width: 300px;
      height: 600px;
    }
  }

  .react-chatbot-kit-chat-inner-container {
    height: 770px;
    border: solid rgb(251, 161, 174);
    @media screen and (max-width: 1080px) {
      height: 570px;
    }



  }
  .react-chatbot-kit-chat-input-form {
    @media screen and (max-width: 1080px) {
      width: 100vw;

    }

    }
  .react-chatbot-kit-chat-input {
    font-size: 1rem;
    border: 3px solid rgb(251, 161, 174);
    border-bottom-left-radius: 5px;
    width: 100%;
    }

  .react-chatbot-kit-chat-message-container {
    height: 600px;
    border-bottom: solid rgb(251, 161, 174);
    overflow-y: scroll;
    overflow-x: hidden;
    @media screen and (max-width: 1080px) {
      height: 400px;
      padding-bottom: 0.2rem;
    }


    .react-chatbot-kit-chat-bot-message-container {
      margin-right: 185px;
      @media screen and (max-width: 1080px){
        width: 220px;
  
      }
    }

    .react-chatbot-kit-user-chat-message {
      @media screen and (max-width: 1080px){
        width: 150px;
  
      }
    }



    .react-chatbot-kit-chat-btn-send {
      width: 100px;
      border-bottom-right-radius: 5px;
    }
    .react-chatbot-kit-chat-btn-send-icon {
      fill: #fff;
      width: 15px;
      margin: 0 auto;
    }
  }
}