.chat-bot-avatar-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    background-color: purple;
    color: #fff;
    margin-right: 15px;
}