
.FAQ {
    font-size: 1.3em;
    @media screen and (max-width: 1080px) {
        padding: 2rem;
        font-size: 1em;
      }
}

.email {
  font-size: 20px bold;
  font-family: American Typewriter, serif;
}