.FAQ {
  font-size: 1.3em;
  width: 70vw;
  padding: 1rem 15vw;
  @media screen and (max-width: 1080px) {
    padding: 1rem;
    font-size: 1em;
  }
}

.email {
  font-size: 20px bold;
  font-family: American Typewriter, serif;
}
