.footer {
  .flexCenter();
  z-index: 1;
  justify-content: space-around;
  background-color: @secondary-color;
  min-height: 7vh;
}

.footer ul {
  .flexCenter();
}

.footer li {
  list-style: none;
  margin: 0 1em;
  text-align: center;
}
.footer a {
  text-decoration: none;
  font-weight: bold;
  margin: 0 1em;
  text-align: center;
  transition: 200ms;
  color: @primary-text-color;
}

.footer a:hover {
  color: @accent-color;
}
