@import './colors.less';
@import './mixins.less';
@import './nav.less';
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Concert One', cursive;
  background-color: @primary-color;
}
