@import './mixins.less';
@import './colors.less';

.landing {
  .flexCenter();
  font-size: 2.2em;
  @media screen and (max-width: 480px) {
    font-size: 1.5em;
  }
}

.login {
  @media screen and (max-width: 480px) {
    .container {
      overflow-y: hidden;
    }
    form {
      gap: 0.5em;
      padding: 1.3em 1.3em;
    }
  }
}

.logo {
  letter-spacing: 0.2em;
  margin-bottom: 1em;
}

.no-session > * {
  .flexCenterColumn();
}
