.messages {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  width: 95vw;
}

.column {
  height: 81.5vh;
}

//**********LEFT COLUMN**********
.match-list {
  flex: 1;
  margin: 0.5em;
  border-radius: 10px;
  border: 10px solid @secondary-color;
  background-color: fadeout(@primary-color, 30%);
  overflow-y: scroll;
  overflow-x: hidden;
  h1 {
    text-align: center;
  }
  .match {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em 0;
  }
  .matchPic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
}

//active match is user that was clicked on on messages page
.active-match {
  background-color: rgba(97, 177, 151, 0.25);
  border: solid 2px rgb(97, 177, 151);
  border-radius: 3px;
  margin: 5px;
}

//**********RIGHT COLUMN**********
.chatMessageBox {
  flex: 2;
  margin: 0.5em;
  border: 10px solid @secondary-color;
  border-radius: 10px;
}

//chats
.chatroom {
  height: 75.3vh;
  padding: 0.3vh 0.5vw;
  border-bottom: solid black;
  background-color: fadeout(@primary-color, 70%);
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
}

//input text box
.input-box {
  display: flex;
  align-items: center;
  height: 6vh;
  margin: 0vh 0.25vw 0.5vh 0.25vw;
  input {
    margin: 0;
    flex: 7;
    padding: 1vh;
    border-radius: 10px;
    margin-right: 5px;
  }
  button {
    flex: 1;
    margin: 0;
  }
}

.single-message {
  margin: 3px 0;
  display: flex;
  align-items: center;
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-self: flex-end;
  }
  small {
    color: slategray;
    font-size: 0.75em;
  }
  //the other user in the conversation
  .chat-match {
    clip-path: polygon(2% 0, 100% 0%, 100% 95%, 10% 95%, 0 100%, 2% 85%);
    text-align: left;
    background-color: rgb(143, 196, 222);
    max-width: 50%;
    padding: 10px 20px;
    margin-bottom: 15px;
    margin-left: 5px;
    word-break: normal;
    white-space: normal;
  }

  //current signed in user
  .user {
    clip-path: polygon(0 0, 98% 0, 98% 85%, 100% 100%, 90% 95%, 0 95%);
    text-align: right;
    background-color: rgb(120, 255, 210);
    max-width: 50%;
    padding: 10px 20px;
    margin-bottom: 15px;
    margin-right: 5px;
    word-break: normal;
    white-space: normal;
  }
}

.right-user {
  display: flex;
  justify-content: flex-end;
}

//back button to get back to match list
#back {
  position: fixed;
  @media (min-width: 981px) {
    display: none;
  }
}

// #back {
//   display: none;
//   @media (max-width: 980px) {
//     display: block;
//     position: absolute;
//   }
// }

//make one or the other columns disappear on mobile ciew
.mobile {
  @media (max-width: 980px) {
    display: none;
  }
}
