.form-widget .profile-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-widget {
    margin: 70px 5vw 250px;
}

.form-widget * {
    animation: slidein 0.5s ;
}

label {
    display: flex;
    align-items: center;
}

@keyframes slidein {
    0% {
        margin-bottom: 100vh;
        // opacity: 0;
    }
    100% {
        margin-bottom: 0vh;
        // opacity: 1;
    }
}

.form-widget img {
    object-fit: cover;
    height: 400px;
    width: 400px;
    border: 5px black solid;
    border-radius: 50%;
}

.form-widget label {
    margin: 0px 8px 0px 0px;
}

.profile-user, .profile-preference {
    width: 40vw;
}

.profile-preference > div, .profile-user > div {
    margin: 10px;
}

.form-widget hr {
    margin: 12px 0px;
}

#profileEditAvatar {
    width: 80vw;
    position: relative;
    margin: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

input[type='file'] {
    display: none;
    padding: 12px;
}

#avatar-upload {
    position: relative;
    height: 20px;
    top: 340px;
    left: -280px;
    background-color: white;
    border: 2px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    transition: background ease 0.3s;
}

#avatar-upload:hover {
    background-color: aquamarine;
}

textarea {
    margin: 8px 0px;
    border: 2px solid black;
    padding: 5px;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
    .form-widget {
        padding: 45px;
        margin-top: 40px;
    }
    .form-widget .profile-info {
        flex-direction: column;
    }
    .profile-preference, .profile-user {
        width: 80vw;
    }
    #avatar-upload {
        top: 340px;
        left: -170px;
    }
}