.form-widget .profile-info {
    width: 80vw;
    display: flex;
    flex-direction: row;
    // align-items: center;
}

.form-widget {
    // height: 100vh;
    margin: 70px 0px 250px 0px;
}

.form-widget img {
    object-fit: cover;
    height: 400px;
    width: 400px;
    border: 5px black solid;
    border-radius: 50%;
}

.form-widget label {
    margin: 0px 8px 0px 0px;
}

.profile-user, .profile-preference {
    width: 40vw;
}

.profile-preference > div, .profile-user > div {
    margin: 10px;
}

.form-widget hr {
    margin: 12px 0px;
}

#profileEditAvatar {
    margin: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

input[type='file'] {
    display: none;
    padding: 12px;
}

#avatar-upload {
    position: absolute;
    top: 480px;
    left: 320px;
    background-color: white;
    border: 2px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    transition: background ease 0.3s;
}

#avatar-upload:hover {
    background-color: aquamarine;
}

textarea {
    margin: 8px 0px;
    border: 2px solid black;
    padding: 5px;
    overflow-y: auto;
}

@media screen and (max-width: 912px) {
    .form-widget {
        margin-top: 40px;
    }
    .form-widget .profile-info {
        flex-direction: column;
    }
    .profile-preference, .profile-user {
        width: 80vw;
    }
}