.form-widget .profile-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-info > * {
    display: flex;
    flex-direction: column;
}

.form-widget {
    margin: 20px 5vw 50px;
}

.form-widget p, .form-widget label {
    font-size: 18px;

}

.profile-view, .edit-view {
    animation: slidein 0.4s;
}

.profile-view p {
    overflow-wrap: break-word;
    width: 80vw;
}

h1 .button.block {
    margin-left: 25px;
    font-size: 15px;
}

label {
    display: flex;
    align-items: center;
}

// i know this is not very graceful, please bear with me
#interest-select > div > div > div > div {
    display: flex;
    margin: 5px;
}

#interest-select > div > div {
    overflow-x: hidden;
}

#interest-select label {
    margin: 5px;
}

#editToggle * {
    font-size: 18px;
}

@keyframes slidein {
    0% {
        margin-left: 100vw;
        // opacity: 0;
    }
    60% {
        margin-left: 15vw;
    }
    80% {
        margin-left: 10vw;
    }
    90% {
        margin-left: 5vw;
    }
    100% {
        margin-left: 0vw;
        // opacity: 1;
    }
}

.form-widget img {
    object-fit: cover;
    height: 300px;
    width: 300px;
    border: 5px black solid;
    border-radius: 50%;
}

.form-widget label {
    margin: 0px 8px 0px 0px;
}

.profile-user, .profile-preference {
    width: 40vw;
}

.profile-preference > div, .profile-user > div {
    margin: 10px;
}

.form-widget hr {
    margin: 12px 0px;
}

#profileEditAvatar {
    margin: 15px 0px;
    width: 90vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#profileEditAvatar > div {
    width: 40vw;
    margin: 2vw 12px;
}

input[type='file'] {
    display: none;
    padding: 12px;
}

input[type='text'], input[type='number'], select {
    padding: 5px;
    margin: 5px 0px;
}

input[type="number"] {
    width: 60px;
}

#avatar-upload {
    position: absolute;
    height: 20px;
    top: 270px;
    left: 10px;
    background-color: white;
    border: 2px solid #ccc;
    display: inline-block;
    padding: 5px 7px;
    cursor: pointer;
    transition: background ease 0.3s;
}

#avatar-upload:hover {
    background-color: aquamarine;
}

#optionalPhotoUploads {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.user_photo, .uploadSlot {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 200px;
    margin: 20px 20px;
    border-radius: 10%;
    border: 1px black solid;
    transition: 0.2s;
}
.uploadSlot {
    background-color: white;
    opacity: 0.7;
}
.uploadSlot label {
    border-radius: 10%;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
}
.user_photo button {
    padding: 5px;
    top: -15px;
    left: -20px;
    position: absolute;
    background-color: white;
}
.uploadSlot:hover, .uploadSlot *:hover {
    cursor: pointer;
    background-color: aquamarine;
    transition: 0.2s;
}
.user_photo img {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    border: 0px;
}

.profile-view {
    margin: 20px 30px;
}

textarea {
    margin: 8px 0px;
    border: 2px solid black;
    padding: 5px;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
    .form-widget {
        margin: 40px 15px;
    }
    .form-widget .profile-info {
        align-items: center;
        flex-direction: column;
    }
    .profile-preference, .profile-user {
        width: 80vw;
    }
    #profileEditAvatar {
        align-items: center;
        flex-direction: column;
    }
    #profileEditAvatar > div {
        width: 80vw;
    }
    #avatar-upload {
        top: 270px;
        left: 10px;
    }
}