.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexCenterColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 1;
  justify-content: space-around;
  background-color: #48A9A6;
  min-height: 6vh;
}
.brand-title {
  margin: 0.5rem;
  letter-spacing: 0.2rem;
}
.nav-links {
  display: flex;
  justify-content: space-around;
}
.nav-links li {
  list-style: none;
  margin: 1em;
}
.nav-links a {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
  transition: 200ms;
  color: #60495A;
}
.nav-links a:hover {
  color: #E5625E;
}
.nav-icon {
  width: 15px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #60495A;
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 94vh;
    top: 6vh;
    background: #48A9A6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    margin: 2rem;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  justify-content: space-around;
  background-color: #48A9A6;
  min-height: 7vh;
}
.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer li {
  list-style: none;
  margin: 0 1em;
  text-align: center;
}
.footer a {
  text-decoration: none;
  font-weight: bold;
  margin: 0 1em;
  text-align: center;
  transition: 200ms;
  color: #60495A;
}
.footer a:hover {
  color: #E5625E;
}
.form-container {
  margin: 1em;
  border-radius: 10px;
  background-color: #48A9A6;
  box-shadow: 7px 4px 15px 0px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 7px 4px 15px 0px rgba(0, 0, 0, 0.57);
}
form {
  padding: 2em 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.75em;
}
.form-title {
  font-size: 2em;
  text-align: center;
  font-weight: 600;
}
.form-item {
  display: flex;
  flex-direction: column;
}
.form-item > * {
  align-self: flex-start;
}
.form-label {
  font-weight: 600;
  padding: 10px 0;
}
.form-input {
  min-width: 150px;
  max-width: 425px;
  padding: 0.8em;
  font-size: 0.9em;
  outline: none;
  border: 1px solid #48A9A6;
  border-radius: 4px;
  background: #f9f9f9;
  transition: background 0.25s, border-color 0.25s, color 0.25s;
}
.form-input:focus {
  background: #ffffff;
}
.form-input::placeholder {
  color: #60495A;
}
.form-button {
  align-self: center;
}
.form-input-error {
  color: #d50000;
  background: #fff8f8;
  border-color: #d50000;
}
.form-input-error::placeholder {
  color: #ffbfbf;
}
.form-error {
  padding-top: 10px;
  color: #d50000;
  font-size: 0.9em;
  display: none;
  visibility: hidden;
}
.form-input-error + .form-error {
  visibility: visible;
}
.display-block {
  display: block;
  visibility: visible;
}
.form-input-small {
  max-width: 250px;
}
.form-input-xsmall {
  max-width: 150px;
}
textarea.form-input {
  resize: none;
  min-height: 200px;
}
.myProfile {
  /* display: inline-block; */
  text-align: center;
  font-size: 18px;
  width: 340px;
  height: 350px;
  margin: 0px auto  auto;
  background-color: #e4dddd;
  color: rgba(12, 10, 10, 0.4);
  border-radius: 30px;
  border: solid;
}
.profilePic {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid;
}
.matchesForEachUser {
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin: 5px;
}
.matches {
  padding: 16px;
  position: relative;
  height: 280px;
  background-color: #e4dddd;
  color: rgba(12, 10, 10, 0.4);
  display: inline-block;
  text-align: center;
  inline-size: 175px;
  font-size: 18px;
  margin: 15px 20px 0px 10px;
  overflow: hidden;
  border-radius: 30px;
  border: solid;
}
.matchesProfilePic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: solid;
}
.matches.active {
  width: 400px;
  height: 450px;
}
.matches.active ion-icon {
  color: #de55c5;
}
/* .matchesAboutMe {
    overflow-wrap: break-word;
    hyphens: manual;
  } */
.toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background: hsl(281, 12%, 41%);
  border-end-end-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle ion-icon {
  color: #de55c5;
  font-size: 1.4em;
  right: 0;
}
.media-scroller {
  margin: 4px, 4px;
  padding: 60px;
  background-color: #FBFAF8;
  height: 350px;
  width: 1450px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75em;
}
@media screen and (max-width: 480px) {
  .landing {
    font-size: 1.5em;
  }
}
.logo {
  letter-spacing: 0.2em;
  margin-bottom: 1em;
}
.no-session > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-widget .profile-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form-widget {
  margin: 70px 5vw 50px;
}
.form-widget * {
  animation: slidein 0.4s;
}
label {
  display: flex;
  align-items: center;
}
@keyframes slidein {
  0% {
    margin-left: 100vw;
  }
  100% {
    margin-left: 0vw;
  }
}
.form-widget img {
  object-fit: cover;
  height: 400px;
  width: 400px;
  border: 5px black solid;
  border-radius: 50%;
}
.form-widget label {
  margin: 0px 8px 0px 0px;
}
.profile-user,
.profile-preference {
  width: 40vw;
}
.profile-preference > div,
.profile-user > div {
  margin: 10px;
}
.form-widget hr {
  margin: 12px 0px;
}
#profileEditAvatar {
  width: 80vw;
  position: relative;
  margin: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
input[type='file'] {
  display: none;
  padding: 12px;
}
#avatar-upload {
  position: relative;
  height: 20px;
  top: -50px;
  left: -180px;
  background-color: white;
  border: 2px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  transition: background ease 0.3s;
}
#avatar-upload:hover {
  background-color: aquamarine;
}
textarea {
  margin: 8px 0px;
  border: 2px solid black;
  padding: 5px;
  overflow-y: auto;
}
@media screen and (max-width: 768px) {
  .form-widget {
    padding: 45px;
    margin-top: 40px;
  }
  .form-widget .profile-info {
    flex-direction: column;
  }
  .profile-preference,
  .profile-user {
    width: 80vw;
  }
  #avatar-upload {
    top: 340px;
    left: -170px;
  }
}
@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/concertone/v17/VEM1Ro9xs5PjtzCu-srDqRTl.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Concert One', cursive;
  background-color: #FBFAF8;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 91vh;
  max-width: 95vw;
  padding-top: 2vh;
}
button {
  background: none;
  color: inherit;
  border: 1px solid #60495A;
  padding: 0.25em 0.75em;
  border-radius: 10px;
  font: inherit;
  font-size: 1.3em;
  cursor: pointer;
  outline: inherit;
  transition: 200ms;
  margin: 0.5em;
}
button:hover {
  background-color: #E5625E;
  color: #FBFAF8;
}
.link {
  text-decoration: underline;
  cursor: pointer;
  transition: 200ms;
}
.link:hover {
  color: #225560;
}
::-webkit-scrollbar {
  height: 20px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c6c5c5;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #225560;
}
