.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexCenterColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 1;
  justify-content: space-around;
  background-color: #48a9a6;
  min-height: 6vh;
}
.brand-title {
  margin: 0.5rem;
  letter-spacing: 0.2rem;
}
.nav-links {
  display: flex;
  justify-content: space-around;
}
.nav-links li {
  list-style: none;
  margin: 1em;
}
.nav-links li a {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
  transition: 200ms;
  color: #60495a;
  cursor: pointer;
}
.nav-links li a:hover {
  color: #e5625e;
}
.nav-icon {
  width: 15px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #60495a;
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 94vh;
    top: 6vh;
    background: #48a9a6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    margin: 2rem;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle-burger .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle-burger .line2 {
  opacity: 0;
}
.toggle-burger .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  justify-content: space-around;
  background-color: #48a9a6;
  min-height: 6vh;
}
.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer li {
  list-style: none;
  margin: 0 1em;
  text-align: center;
}
.footer a {
  text-decoration: none;
  font-weight: bold;
  margin: 0 1em;
  text-align: center;
  transition: 200ms;
  color: #60495a;
}
.footer a:hover {
  color: #e5625e;
}
.form-container {
  margin: 1em;
  border-radius: 10px;
  background-color: rgba(72, 169, 166, 0.6);
  box-shadow: 7px 4px 15px 0px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 7px 4px 15px 0px rgba(0, 0, 0, 0.57);
}
form {
  padding: 2em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.75em;
}
.form-title {
  font-size: 2em;
  text-align: center;
  font-weight: 600;
}
.form-item {
  display: flex;
  flex-direction: column;
}
.form-item > * {
  align-self: flex-start;
}
.form-label {
  font-weight: 600;
  padding: 10px 0;
}
.form-input {
  min-width: 150px;
  max-width: 425px;
  padding: 0.8em;
  font-size: 0.9em;
  outline: none;
  border: 1px solid #48a9a6;
  border-radius: 4px;
  background: #f9f9f9;
  transition: background 0.25s, border-color 0.25s, color 0.25s;
}
.form-input:focus {
  background: #ffffff;
}
.form-input::placeholder {
  color: #60495a;
}
.form-button {
  align-self: center;
}
.form-input-error {
  color: #d50000;
  background: #fff8f8;
  border-color: #d50000;
}
.form-input-error::placeholder {
  color: #ffbfbf;
}
.form-error {
  padding-top: 10px;
  color: #d50000;
  font-size: 0.9em;
  display: none;
  visibility: hidden;
}
.form-input-error + .form-error {
  visibility: visible;
}
.display-block {
  display: block;
  visibility: visible;
}
.form-input-small {
  max-width: 250px;
}
.form-input-xsmall {
  max-width: 150px;
}
textarea.form-input {
  resize: none;
  min-height: 200px;
}
.buttonError {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.myProfile {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  width: 500px;
  align-items: center;
  font-size: 18px;
  margin: 2.5em auto auto;
  padding: 1em;
  background-color: rgba(250, 171, 171, 0.6);
  color: #60495a;
  border-radius: 30px;
  border: solid;
}
@media screen and (max-width: 768px) {
  .myProfile {
    width: 80%;
    flex-direction: column;
  }
}
.myProfile > :nth-of-type(1) {
  text-align: center;
}
.myProfile > * {
  overflow-wrap: break-word;
  width: 300px;
  margin: 0.5em;
}
.user-bio-full {
  overflow-wrap: break-word;
  width: 300px;
}
.profilePic {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid;
}
.highlight {
  color: #f45d6a;
  font-size: 1.3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.matchesForEachUser {
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin: 5px;
  width: 91vw;
}
.matches {
  padding: 1em;
  cursor: pointer;
  position: relative;
  background-color: rgba(72, 169, 166, 0.6);
  color: #60495a;
  display: inline-block;
  text-align: center;
  inline-size: 175px;
  font-size: 18px;
  margin: 15px 20px 0px 10px;
  overflow: hidden;
  border-radius: 30px;
  border: solid;
}
.matchesProfilePic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: solid;
}
.matches.active {
  margin-right: 4px;
  position: absolute;
  top: -50px;
  width: 400px;
  height: 450px;
}
.matches.active ion-icon {
  color: #de55c5;
}
.icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background: rgba(229, 98, 94, 0.6);
  border-end-end-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon ion-icon {
  color: #de55c5;
  font-size: 1.4em;
  right: 0;
}
.pushPin {
  cursor: pointer;
  position: relative;
  top: -310px;
  left: 25px;
  display: inline-block;
  margin: -5px;
  padding: -10px -10px;
  z-index: 10;
}
.pushPin.clicked {
  cursor: pointer;
  position: relative;
  color: #f45d6a;
  display: inline-block;
}
.media-scroller {
  margin: 4px, 4px;
  padding: 2em 0;
  background-color: transparent;
  min-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2em;
}
@media screen and (max-width: 480px) {
  .landing {
    font-size: 1.5em;
  }
}
.logo {
  letter-spacing: 0.2em;
  margin-bottom: 1em;
}
.no-session > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.auth-buttons {
  display: flex;
}
.auth-buttons * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-widget {
  width: 85vw;
  padding-top: 30px;
  margin: 0px 5vw 50px;
  display: flex;
  flex-direction: column;
}
.form-widget hr {
  margin: 12px 0px;
}
.form-widget label {
  font-size: 18px;
  display: flex;
  align-items: center;
}
.form-widget img {
  object-fit: cover;
  height: 300px;
  width: 300px;
  border: 5px black solid;
  border-radius: 50%;
}
.button.block {
  width: 300px;
}
.editToggle > div {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.profile-view,
.edit-view {
  animation: slidein 0.4s;
}
@keyframes slidein {
  0% {
    margin-left: 100vw;
  }
  60% {
    margin-left: 15vw;
  }
  80% {
    margin-left: 10vw;
  }
  90% {
    margin-left: 5vw;
  }
  100% {
    margin-left: 0vw;
  }
}
.profile-view {
  overflow-wrap: break-word;
  width: 80vw;
}
#save-profile {
  margin-left: 25px;
  font-size: 1.3em;
}
#profileEditAvatar {
  margin: 15px 0px;
  width: 90vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#profileEditAvatar > div {
  width: 40vw;
  margin: 2vw 12px;
}
#avatarSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#avatar-upload {
  display: flex;
  position: absolute;
  top: 310px;
  right: 50%;
  background-color: white;
  border: 2px solid #ccc;
  display: inline-block;
  padding: 5px 7px;
  cursor: pointer;
  transition: background ease 0.3s;
}
#avatar-upload:hover {
  background-color: aquamarine;
}
#profileEditAvatar textarea {
  margin: 8px 0px;
  border: 2px solid black;
  padding: 5px;
  overflow-y: auto;
}
#optionalPhotoUploads {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.user_photo,
.uploadSlot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 200px;
  width: 200px;
  margin: 20px 20px;
  border-radius: 10%;
  border: 1px black solid;
  transition: 0.2s;
}
.uploadSlot {
  background-color: white;
  opacity: 0.7;
}
.uploadSlot label {
  border-radius: 10%;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
}
.uploadSlot:hover,
.uploadSlot *:hover {
  cursor: pointer;
  background-color: aquamarine;
  transition: 0.2s;
}
.user_photo img {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  border: 0px;
}
.user_photo button {
  padding: 5px;
  top: -15px;
  left: -20px;
  position: absolute;
  background-color: white;
}
.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile-user,
.profile-preference {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.profile-preference > div,
.profile-user > div {
  margin: 10px;
}
#interest-select > div > div > div > div {
  display: flex;
  margin: 5px;
}
#interest-select > div > div {
  overflow-x: hidden;
}
#interest-select label {
  margin: 5px;
}
input[type='file'] {
  display: none;
  padding: 12px;
}
input[type='text'],
input[type='number'],
select {
  padding: 5px;
  margin: 5px 0px;
}
input[type="number"] {
  width: 60px;
}
@media screen and (max-width: 768px) {
  .form-widget * {
    max-width: 80vw;
  }
  .profile-info {
    align-items: center;
    flex-direction: column;
  }
  .profile-preference,
  .profile-user {
    width: 60vw;
  }
  #profileEditAvatar {
    width: 60vw;
    align-items: center;
    flex-direction: column;
  }
  #profileEditAvatar > div {
    width: 60vw;
  }
  #avatar-upload {
    top: 260px;
  }
}
@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/concertone/v17/VEM1Ro9xs5PjtzCu-srDqRTl.ttf) format('truetype');
}
.messages {
  display: flex;
  padding: 2vh;
}
.column {
  height: 81.9vh;
}
/*
TODO: give fixed position on left side of screen, change view for tablet, hide on mobile after message click
    currently match-list will shrink with page and not everything fits
TODO: remove animation when switching from lh/messages -> lh/messages/[id]
*/
.match-list {
  width: 20vw;
  margin-right: 1vw;
  border: 10px solid #48a9a6;
  background-color: #fbfaf8;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}
.match-list h1 {
  text-align: center;
}
.match-list .match {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.match-list .matchPic {
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
}
.active-match {
  background-color: rgba(97, 177, 151, 0.25);
  border: solid 2px #61b197;
  border-radius: 3px;
  margin: 5px;
}
.chatMessageBox {
  width: 70vw;
  margin-left: 1vw;
  border: 10px solid #48a9a6;
  visibility: hidden;
}
@media screen and (max-width: 768) {
  .chatMessageBox {
    display: none;
  }
}
.chatroom {
  height: 76vh;
  padding: 0.3vh 0.5vw;
  border-bottom: solid black;
  background-color: #fbfaf8;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
}
.input-box {
  display: flex;
  align-items: center;
  height: 5vh;
  margin: 0.1vh 0.25vw 0.5vh 0.25vw;
}
.input-box input {
  margin: 0;
  width: 85%;
  padding: 0.65em;
  border-radius: 10px;
  margin-right: 5px;
}
.input-box button {
  width: 10%;
  margin: 0;
}
.single-message {
  margin: 3px 0;
  display: flex;
}
.single-message img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  align-self: flex-end;
}
.single-message .chat-match {
  clip-path: polygon(2% 0, 100% 0%, 100% 95%, 10% 95%, 0 100%, 2% 85%);
  text-align: left;
  background-color: #8fc4de;
  max-width: 50%;
  padding: 10px 20px;
  word-break: normal;
  white-space: normal;
}
.single-message .user {
  clip-path: polygon(0 0, 98% 0, 98% 85%, 100% 100%, 90% 95%, 0 95%);
  text-align: right;
  background-color: #78ffd2;
  max-width: 50%;
  padding: 10px 20px;
  word-break: normal;
  white-space: normal;
}
.right-user {
  display: flex;
  justify-content: flex-end;
}
.chat-bot-avatar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background-color: #fba1ae;
  margin-right: 0px;
}
.user-avatar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background-color: #fba1ae;
  margin-left: 15px;
}
#bottie .react-chatbot-kit-chat-container {
  position: relative;
  width: 500px;
  height: 800px;
}
#bottie .react-chatbot-kit-chat-inner-container {
  height: 770px;
  border: solid #fba1ae;
}
#bottie .react-chatbot-kit-chat-input {
  font-size: 1rem;
  border: 3px solid #fba1ae;
  border-bottom-left-radius: 5px;
  width: 100%;
}
#bottie .react-chatbot-kit-chat-message-container {
  height: 600px;
  border-bottom: solid #fba1ae;
  overflow-y: scroll;
  overflow-x: hidden;
}
#bottie .react-chatbot-kit-chat-bot-message-container {
  margin-right: 185px;
}
#bottie .react-chatbot-kit-chat-btn-send {
  width: 100px;
  border-bottom-right-radius: 5px;
}
#bottie .react-chatbot-kit-chat-btn-send-icon {
  fill: #fff;
  width: 15px;
  margin: 0 auto;
}
.FAQ {
  font-size: 1.3em;
}
#getMatches {
  position: absolute;
  left: 3rem;
  right: 3rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #48a9a6;
  border-radius: 4px;
  background: #f9f9f9;
  max-width: 200px;
  padding: 0.5em;
}
#getMatches .timer {
  font-weight: bold;
}
#getMatches .button {
  margin: auto;
  margin-top: 0.7em;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Concert One', cursive;
  background-color: #e8f7f7;
  background-size: 120em;
  background-position: bottom right;
  overflow-x: hidden;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 88vh;
  padding-top: 6vh;
}
a {
  text-decoration: none;
}
button {
  background: none;
  color: inherit;
  border: 1px solid #60495a;
  padding: 0.25em 0.75em;
  border-radius: 10px;
  font: inherit;
  font-size: 0.8em;
  cursor: pointer;
  outline: inherit;
  transition: 200ms;
  margin: 0.5em;
}
button:hover {
  background-color: #e5625e;
  color: #fbfaf8;
}
button:disabled {
  background-color: #696969;
  color: #fbfaf8;
}
.link {
  text-decoration: underline;
  cursor: pointer;
  transition: 200ms;
}
.link:hover {
  color: #225560;
}
::-webkit-scrollbar {
  height: 20px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c6c5c5;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #225560;
}
